
  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100 ">
      <div class="row h-100 align-items-center justify-content-center text-center ">
        <div class="container align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Team</h1>
          <hr class="divider my-4">
          <div class="container d-flex">
            <figure class="figure">
              <%= image_tag("eric.jpg", class: "figure-img rounded eric") %>
              <figcaption class="figure-caption">Eric Ross</figcaption>
            </figure>
            <figure class="figure">
              <%= image_tag("raph.jpg", class: "figure-img rounded raph") %>
              <figcaption class="figure-caption">Raphael Doukhan</figcaption>
            </figure>
            <figure class="figure">
              <%= image_tag("pony.jpeg", class: "figure-img rounded pony") %>
              <figcaption class="figure-caption">Raphael Doukhan</figcaption>
            </figure>
            <figure class="figure">
              <%= image_tag("raph.jpg", class: "figure-img rounded raph") %>
              <figcaption class="figure-caption">Raphael Doukhan</figcaption>
            </figure>

          </div>
        </div>
        <div class="container">
          <p class="text-white-75 font-weight-light mb-5">La team de folie!</p>
         
        </div>
      </div>
    </div>
  </header>



