  .raph {
    max-width: 40%;
    height: auto;
  }
    .eric {
    max-width: 30%;
    height: auto;
  }
      .pony {
    max-width: 110%;
    height: auto;
  }
  .figure-caption{
    color:black
  }
  .nav-item{
    padding:6px
    
  }
  .btn-default{

    color:white;
    
    }

